<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->

    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->

    {% include footer.html %}

  </body>

  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}

</html>
